<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/index.css">
    <title>NASA APOD</title>
</head>
<body>
    <h1 id="main-title">NASA Astronomy Picture of the Day (APOD)</h1> <!-- main title -->

    <h2 id="title"></h2> <!-- title -->

    <p id="date"></p> <!-- date -->

    <img src="" id="picture" alt="astro picture"> <!-- picture -->
        
    <p id="explanation"></p> <!-- explanation -->

    <script type="module" src="api/index.js"></script>
</body>
</html>