<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/index.css">
    <title>NASA APOD</title>
</head>
<body>
    <h1 id="main-title">NASA Astronomy Picture of the Day (APOD)</h1> <!-- h1 -->

    <h2 id="title"></h2> <!-- h2 -->

    <p id="date"></p> <!-- date -->

    <div id="info-container">
        <img src="" id="picture" alt="astro picture"> <!-- picture -->
        
        <p id="explanation"></p> <!-- explanation -->
    </div> <!-- info-container -->

    <script type="module" src="index.js"></script>
</body>
</html>